@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cinza: #464646;
    --cor-fundo: #F5F5F5;
    --cor-fundo2: #EAF2FD;
    --cor-botao: #2A7AE4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding:1% 5%;
    font-family: "Raleway", sans-serif;
    background-color: var(--cor-fundo);
}

ol, ul, li {
    list-style: none;
}

section{
    padding: 40px 20px;
}

.Sobre-Conteudo, .Formacao-Cursos, .Contato{
    background-color: var(--cor-fundo2);
}


/* Menu */
.Menu-Principal {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Menu-navegacao {
    display: flex;
    gap: 40px
}
.Menu-Item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
}

/* Apresentação */
.Apresentacao {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 40px;

}
.cabecalho-apresentacao {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 750px;
    
}

.Apresentacao-titulo {
    font-size:52px;
    font-weight: 700;
    color: var(--cinza); 
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.Apresentacao-Sub_Titulo {
    font-size: 22px;
    font-weight: 400;
    color: var(--cinza);
}

.Apresentacao-Redes {
    display:flex;
    gap:32px;
}

.foto-perfil {
    border-radius: 50%;
}

/* Sobre mim */
.Sobre-Conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Sobre-Conteudo_T {
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza)
}

.Sobre-Conteudo_P {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza)
}

/* Section - Skills, Hobbies, Formação Cursos, Experiências */
.Skills, .Hobbies, .Formacao-Cursos, .Experiencia-progamacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    gap: 40px;
}

.Titulo-skills, .Titulo-hobbies, .Formacao-titulo, .Experiecia-titulo {
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza);
}

.Itens-skills, .Itens-hobbies, .Itens-formacao {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Elementos-skills, .Elementos-hobbies, .Formacao-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.Elementos-skills,.Elementos-hobbies {
    width: 150px;
    background-color: #FFFFFF;
    padding: 16px;
}

.Nome-skills, .Nome-hobbies {
    font-size: 16px;
    font-weight: 700;
    color: var(--cinza);
}

/* Formação cursos */
.Formacao-img-titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--cinza);
}

.Formacao-img {
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo);
    padding: 16px;

}

.Formacao-sub-titulo {
    font-size: 16px;
    font-weight: 500;
    color:var(--cinza);
}

 /* Experiências */ 
.Itens-experiencia{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-experiencia img{
    border-radius: 8px;
}

.Conteudo-experiencia {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Experiencia-titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--cinza);
}

.Experiencia-sub-titulo {
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
}
.Botao-experiencia {
    display: flex;
    gap: 16px;
}

.Bt-ex {
    width:116px;
    height: 51px;
    border: solid 1px var(--cor-botao);
    color:var (--cor-fundo);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Bt-ex:hover {
    background-color: var(--cor-botao);
    color: #F5F5F5;
}

/* Formulário de contato */
.Contato {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 88px;
    gap: 16px;
}

.img-formulario {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.Formulario-Contato {
    display: flex;
    flex-direction: column;
    gap: 26px;
    
}

.form-grupo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-grupo input {
    width: 100%; 
    max-width: 632px; 
    height: 40px; 
    outline: none; 
    padding: 10px; 
    font-size: 14px; 
}

.form-grupo textarea {
    width: 100%; 
    max-width: 632px; 
    height: 133px; 
    resize: none; 
    outline: none; 
    padding: 10px; 
    font-size: 16px; 
}

.Formulario-titulo {
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza);
}

.Formulario-sub {
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
}

.bt-form {
    width:116px;
    height: 51px;
    border: solid 1px var(--cor-botao);
    color:var (--cor-fundo);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bt-form:hover {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
    gap: 10px;
}
.Redes-sociais{
    display: flex;
    gap: 16px;
}
.Redes-sociais img{
    border-radius: 50%;
}



