@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cinza: #464646;
    --cor-fundo: #F5F5F5;
    --cor-fundo2: #EAF2FD;
    --cor-botao: #2A7AE4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
} 


body {
    padding:1% 5%;
    font-family: "Raleway", sans-serif;
    background-color: var(--cor-fundo);
    
}

ol, ul, li {
    list-style: none;
}

section{
    padding: 40px 20px;
}

.Sobre-Conteudo, .Formacao-Cursos, .Contato{
    background-color: var(--cor-fundo2);
}

/* Menu mobile */
#btMobile {
    display: none;
}

/* Menu */
.Menu-Principal {
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.Menu-navegacao {
    display: flex;
    gap: 40px
}
.Menu-Item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
}

/* Apresentação */
.Apresentacao {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 40px;

}
.cabecalho-apresentacao {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 750px;
    
}

.Apresentacao-titulo {
    font-size:52px;
    font-weight: 700;
    color: var(--cinza); 
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
.Apresentacao-titulo strong{
    color: var(--cor-botao);
}
.Apresentacao-Sub_Titulo {
    font-size: 22px;
    font-weight: 400;
    color: var(--cinza);
}

.Apresentacao-Redes {
    display:flex;
    gap:32px;
}

.botao-curriculo {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color:var(--cor-botao);
    
}
.botao-curriculo:hover {
    border-bottom:  1px solid var(--cor-botao);  
}

.foto-perfil {
    border-radius: 50%;
}

/* Sobre mim */
.Sobre-Conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Sobre-Conteudo_T {
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza);
}

.Sobre-Conteudo_P {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
   
}

/* Section - Skills, Hobbies, Formação Cursos, Experiências */
.Skills, .Hobbies, .Formacao-Cursos, .Experiencia-progamacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    gap: 40px;

}

.Elementos-hobbies img {
    width: 34px;
    
}

.Titulo-skills, .Titulo-hobbies, .Formacao-titulo, .Experiecia-titulo {
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza);
}

.Itens-skills, .Itens-hobbies, .Itens-formacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.Elemento-formacao {
    margin-top: 20px;
}

.Elementos-skills, .Elementos-hobbies, .Formacao-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.Elementos-skills,.Elementos-hobbies {
    width: 150px;
    background-color: #FFFFFF;
    padding: 16px;
}

.Nome-skills, .Nome-hobbies {
    font-size: 16px;
    font-weight: 700;
    color: var(--cinza);
}

/* Formação cursos */
.Formacao-img-titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--cinza);
}

.Formacao-img {
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo);
    padding: 16px;

}

.Formacao-sub-titulo {
    font-size: 16px;
    font-weight: 500;
    color:var(--cinza);
}

 /* Experiências */ 
.Itens-experiencia{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.Itens-experiencia:nth-child(even) {
    flex-direction: row-reverse;
}

.Lista-experiencia {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.img-experiencia img{
    border-radius: 8px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.Conteudo-experiencia {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Experiencia-titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--cinza);
}

.Experiencia-sub-titulo {
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
}
.Botao-experiencia {
    display: flex;
    gap: 16px;
}

.Bt-ex {
    width:116px;
    height: 51px;
    border: solid 1px var(--cor-botao);
    color:var (--cor-fundo);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Bt-ex:hover {
    background-color: var(--cor-botao);
    color: #F5F5F5;
}

/* Formulário de contato */
.Contato {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 88px;
    gap: 16px;
}

.img-formulario {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.Formulario-Contato {
    display: flex;
    flex-direction: column;
    gap: 26px;
    
}

.form-grupo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-grupo input {
    width: 100%; 
    max-width: 632px; 
    height: 40px; 
    outline: none; 
    padding: 10px; 
    font-size: 14px; 
}

.form-grupo textarea {
    width: 100%; 
    max-width: 632px; 
    height: 133px; 
    resize: none; 
    outline: none; 
    padding: 10px; 
    font-size: 16px; 
}

.Formulario-titulo {
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza);
}

.Formulario-sub {
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
}

.bt-form {
    width:116px;
    height: 51px;
    border: solid 1px var(--cor-botao);
    color:var (--cor-fundo);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bt-form:hover {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
}

.whatssap img {
    height: 60px;
}

.whatssap {
    position: fixed;
    bottom: 95px;
    right: 15px;
    z-index: 1000;
}

/* Rodapé */
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza);
    gap: 10px;
}
.Redes-sociais{
    display: flex;
    gap: 16px;
}
.Redes-sociais img{
    border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    html, body {
        overflow-x: hidden; /* Previne overflow horizontal */
    }
    
    .Menu-Principal img {
        max-width: 100px;  
    }

    .Menu-Item:nth-child(1),
    .Menu-Item:nth-child(2),
    .Menu-Item:nth-child(3),
    .Menu-Item:nth-child(4),
    .Menu-Item:nth-child(5) {
        display: none;
    }

    .cabecalho-apresentacao {
        width: 524px;
        max-width: 100%; /* Previne que o elemento ultrapasse a largura da tela */
    }

    .Apresentacao-titulo {
        font-size: 2rem;
    }

    .foto-perfil {
        width: 146px;
    }

    .Itens-experiencia:nth-child(even) {
        flex-direction: column;
    }

    .Itens-experiencia {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%; /* Garante que o elemento não ultrapasse a largura */
    }

    .img-experiencia img {
        width: 100%;
        height: auto;  
    }

    h1 {
        font-size: 2rem; 
    }

    p, a, li {
        font-size: 1rem; 
    }

    .Bt-ex {
        font-size: 1rem; 
    }

    .Itens-formacao, .Itens-skills, .Itens-hobbies {
        gap: 1rem;
    }

    .img-formulario {
        display: none;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    html, body {
        overflow-x: hidden; /* Previne overflow horizontal */
    }

    .Menu-Principal {
        margin: 10px 0;
    }

    #btMobile {
        display: block;
    }

    .Menu i {
        font-size: 24px;
        color: var(--cor-botao);
        padding: 2px;
        cursor: pointer;
    }

    .Menu i:hover {
        background-color: #2a7be417;
    }

    .Menu-navegacao {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: var(--cor-fundo2);
        height: 0;
        z-index: 1000;
        transition: height 0.9s ease, opacity 0.9s ease;
        visibility: hidden;
        opacity: 0;
        overflow-y: hidden;
    }

    .Menu.active .Menu-navegacao {
        height: calc(100vh - 70px);
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: column;
    }

    .Menu-navegacao a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    header img {
        width: 134px;
    }

    .Apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 100%; /* Certifica-se de que não ultrapasse a largura da viewport */
    }

    .foto-perfil {
        max-width: 150px;
    }

    .cabecalho-apresentacao {
        width: 100%;
        order: 2;
        gap: 10px;
    }

    .Apresentacao-titulo {
        font-size: 2rem;
    }

    .Apresentacao-Redes img {
        width: 100%;
    }

    .Apresentacao-Redes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .Apresentacao-Redes a:nth-child(1),
    .Apresentacao-Redes a:nth-child(2),
    .Apresentacao-Redes a:nth-child(3) {
        display: none;
    }

    .Itens-skills, .Itens-hobbies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        padding: 0 10px;
    }

    .Elementos-skills, .Elementos-hobbies {
        width: 100%;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .Formacao-Cursos {
        width: 100%;
    }

    .Formacao-titulo {
        display: flex;
        text-align: center;
    }

    .Itens-formacao {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .Elemento-formacao {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .Itens-experiencia:nth-child(even) {
        flex-direction: column;
    }

    .Itens-experiencia {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .img-experiencia img {
        width: 100%;
        height: auto;
    }

    .img-formulario {
        display: none;
    }
}

